body {
    background-color: #262626;
    font-family: Open Sans, sans-serif;
    color: #E6E6E6;
}

* {
    font-family: Open Sans, sans-serif;
    color: #E6E6E6;
}

#title {
    color: #E6E6E6;
    padding: 40px;
    max-width: 75%;
    align-items: center;
    align-content: center;
    margin: auto;
}

#title h1 {
    float: left;
    font-size: 36px;
    line-height: 1.5;
}

#title input {
    float: right;
    line-height: 1.15;
    border-radius: 4px;
    color: #fff;
    width: 250px;
    border: none;
    background: #3e3e3e;
    margin: 30px 0 20px;
    padding: 10px;
}

#taskbar {
    clear: both;
    background-color: #1E1E1E;
    width: 100%;
}

.course-nav {
    background-color: #1E1E1E;
    padding: 10px;
    margin-left: 12%;
}

.course-nav a {
    background-color: #1E1E1E;
    color: #e6e6e6a2;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
}

.course-nav>a:hover {
    /* background-color: rgb(10, 87, 163); */
    color: white;
}

#course-content {
    margin: auto;
    margin-top: 2%;
    display: grid;
    gap: 1%;
    max-width: 75%;
    grid-template-columns: repeat(2, 50%);
}

.course-box {
    background-image: url("https://static.frontendmasters.com/assets/courses/2021-08-04-intermediate-typescript/thumb.webp");
    background-size: contain;
    margin: 10px;
    max-width: 100%;
}

.course-box:nth-child(2) {
    background-image: url("https://static.frontendmasters.com/assets/courses/2021-07-20-node-js-v2/thumb.webp");
}

.course-box:nth-child(3) {
    background-image: url("https://static.frontendmasters.com/assets/courses/2021-07-06-computer-science-v2/thumb.webp");
}

.course-box:nth-child(4) {
    background-image: url("https://static.frontendmasters.com/assets/courses/2021-06-15-redux-fundamentals/thumb.webp");
}

.course-box:nth-child(5) {
    background-image: url("https://static.frontendmasters.com/assets/courses/2021-06-08-accessibility-v2/thumb.webp");
}

.course-box:nth-child(6) {
    background-image: url("https://static.frontendmasters.com/assets/courses/2021-08-03-typescript-v3/thumb.webp");
}

.cont {
    width: 85%;
    height: 100%;
    float: right;
    background-color: black;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
    opacity: 1;
}

.img-name {
    display: flex;
    max-width: 60%;
    margin: 5%;
}

.img-name>img {
    max-width: 35%;
    max-height: 35%;
    border-radius: 50%;
}

.img-name>div {
    margin: 8% 8%;
    font-size: 18px;
}

.img-name>div>span {
    color: #8a8a8a;
    font-size: 16px;
}

.discription {
    max-width: 95%;
    margin: auto;
    line-height: 1.4;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    margin-top: -10px;
}

.info>div:nth-child(4) {
    color: #8a8a8a;
    padding: 1%;
    max-width: 95%;
    margin: auto;
    font-size: 14px;
    margin-top: -3%;
}

.info>div:nth-child(4)>strong {
    border-radius: 10px;
    padding: 5px;
    color: black;
    background-color: #8a8a8a;
    line-height: 1.5;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background: #8a8a8a;
    margin-left: 5px;
}

.course-btns {
    margin-top: 7%;
    margin-left: 3%;
    margin-bottom: 6%;
    font-size: 16px;
    line-height: 1.5;
    font-family: Open Sans, sans-serif;
    color: #e6e6e6;
    box-sizing: border-box;
    margin-top: 20px;
}

.course-btns>a:nth-child(1) {
    background-color: tomato;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    color: #fff;
    text-align: center;
    background: #c02d28;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
}

.course-btns>a:nth-child(2) {
    background-color: orange;
    border-radius: 20px;
    color: #E6E6E6;
    text-decoration: none;
    background: #c94f17;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px 0 0;
}

.info>h2 {
    color: #e05c58;
    font-size: 27px;
    margin-left: 15px;
}

.info>h2>a {
    text-decoration: none;
    color: #e05c58;
}

.info>h2>a:hover {
    color: #dd625e;
}